<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="MediaPlayerFinal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
    <userSettings>
        <MediaPlayerFinal.Properties.Settings>
            <setting name="EqPreset" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="LastEQType" serializeAs="String">
                <value>Preset</value>
            </setting>
            <setting name="LastEQPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="Repeat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Shuffled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastSearchDir" serializeAs="String">
                <value/>
            </setting>
        </MediaPlayerFinal.Properties.Settings>
        <Properties.Settings>
            <setting name="EqPreset" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="LastEQType" serializeAs="String">
                <value>Preset</value>
            </setting>
            <setting name="LastEQPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastEQPreset" serializeAs="String">
                <value/>
            </setting>
            <setting name="Repeat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Shuffled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastSearchDir" serializeAs="String">
                <value/>
            </setting>
        </Properties.Settings>
    </userSettings>
</configuration>
